*{
    margin :0;
    padding: 0;
}

.model_container{
    opacity :0;
    pointer-events :none;
    position :fixed;
  
  }
  
  .model_container.show{
    opacity :1;
    pointer-events:auto;
  }
  
  body{
    text-align :center;
    padding-top :100px;
    background-image: linear-gradient(to left, white , red);
  }
  
  *{
    padding :0;
    margin :0;
  }
  
  #open, #close{
    font-size :40px;
    font-family :arial;
    border :none;
    border-radius :10px;
    padding :10px;
    background-color :rgba(200,0,0,0.7);
  
  }

  #open{
   margin-top: 0%;
  }
  
  #close:hover{
    color :#fff;
    text-shadow :2px 2px 2px black;
  }
  
  #open:hover{
    color :#fff;
    text-shadow :2px 2px 2px black;
  }
  
  #model{
    font-size :30px;
    font-family :monospace;
    width :700px;
    height: 400px;
    padding :30px;
    margin :auto;
  /*   border :2px solid black; */
    border-radius :20px;
    background-color :white;
  }
  
  #model_container{
    margin-left :365px;
  }
  
  